body,
body * {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body #app {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#load-deck-btn {
  font-size: 15pt;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  display: block;
  right: calc(50vw - 150px);
  top: calc(50vh - 50px);
  border: 1px solid black;
  transition: all ease-in-out 0.2s;
}

#load-deck-btn:hover {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 0px black;
  width: 305px;
  height: 105px;
}

.load-deck-btn-when-game-started {
  transition: none !important;
  animation-name: move-btn-to-top-right;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.deck-ui {
  position: absolute;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  animation-name: display-gradually;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  right: 35px;
  top: 150px;
}

.deck-ui .deck-ui-text {
  transform: rotate(90deg);
  position: absolute;
  top: 30px;
  font-size: 20pt;
}

.deck-ui .deck-ui-card-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18pt;
}

.deck-ui-deck-name {
  position: absolute;
  right: 32px;
  border-radius: 5px;
  border: 1px groove black;
  top: 80px;
  font-size: 15pt;
  line-height: 50px;
  text-align: center;
  width: 300px;
  height: 50px;
  animation-name: display-gradually;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.deck-ui:hover,
.hand-ui .hand-ui-card:hover {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 0px black;
  width: 205px;
  height: 305px;
}

.hand-ui {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 10px;
  width: 80vw;
  padding-left: 10px;
  padding-right: 10px;
  height: 350px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* keeps left edge */
  justify-content: flex-start; /* keeps top edge */
  column-gap: 10px;
  animation: display-gradually;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.hand-ui .hand-ui-card {
  border: 1px solid black;
  height: 300px;
  width: 200px;
  flex-shrink: 0;
  border-radius: 5px;
}

.hand-ui .hand-ui-card p {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#hand-ui-card-description {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 400px;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  text-wrap: pretty;
  overflow-wrap: break-word;
  background-color: white;
  z-index: -9;
  transition: all ease-in-out 0.3s;
}

#hand-ui-card-description :nth-child(1) {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 15pt;
  text-decoration: underline;
}

#hand-ui-card-description :nth-child(2) {
  height: 100px;
  text-align: justify;
  padding: 5px;
  font-size: 13pt;
}

.display-description {
  transform: scaleX(1) !important;
  opacity: 1 !important;
  z-index: 9 !important;
  border-left: 1px solid black;
}

#discard-pile-ui {
  position: absolute;
  display: inline-block;
  font-size: 15pt;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
}

#discard-pile-ui:hover {
  width: 305px;
  height: 55px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 0px black;
}

#discard-pile-ui p {
  height: 100%;
  display: inline-block;
  line-height: 50px;
}

#discard-pile-ui p:first-of-type {
  width: 80%;
  text-indent: 10px;
}

#discard-pile-ui p:last-of-type {
  width: 20%;
  text-align: center;
}

#discard-pile-card-list-ui {
  z-index: -9;
  position: absolute;
  top: 0px;
  left: -400px;
  width: 400px;
  min-height: 100vh;
  max-height: 100vh;
  padding: 10px;
  opacity: 0;
  display: grid;
  grid-template-rows: 5% 95%;
  transition: all ease-in-out 0.5s;
}

#discard-pile-card-list-ui #btn-container {
  display: block;
}

#discard-pile-card-list-ui #cards-container {
  display: block;
  scrollbar-width: none;
  padding: 10px;
  overflow-y: scroll;
}

#discard-pile-card-list-ui #btn-container button {
  width: 100px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

#discard-pile-card-list-ui #btn-container button:hover {
  background-color: hsl(0, 70%, 50%);
  cursor: pointer;
}

#discard-pile-card-list-ui p {
  height: 35px;
  line-height: 35px;
  margin-bottom: 8px;
  text-indent: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.show-discard-pile-list {
  z-index: 9 !important;
  background-color: hsl(0, 0%, 100%);
  border-right: 1px solid black;
  box-shadow: 5px 0px 0px black;
  opacity: 1 !important;
  left: 0px !important;
}
